absl-py==0.9.0
blessings==1.7
certifi==2020.12.5
dominate==2.4.0
gpustat==0.6.0
grpcio==1.16.1
joblib
Markdown==3.1.1
numpy
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-python
packaging==20.9
Pillow
protobuf==3.11.3
psutil==5.7.0
pyparsing==2.4.7
PyYAML==5.3.1
scikit-learn
scipy
six==1.14.0
tensorboard==2.0.0
tensorboardX==2.0
threadpoolctl==2.1.0
torch==1.7.1
torchprofile==0.0.1
torchvision==0.8.2
tqdm==4.42.1
typing-extensions==3.7.4.3
Werkzeug==1.0.0
wget==3.2

